# THỐNG KÊ MÁY TÍNH & ỨNG DỤNG :: ÔN THI GIỮA KỲ

import libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import random

## Vấn đề 1: Cho dataset điểm PISA năm 2015 của các học sinh Việt Nam tham gia. Hãy thực hiện:

### a) Đọc file dữ liệu trên và hiển thị 10 dòng đầu tiên của bảng dữ liệu, chỉ gồm các trường Region, Gender, PV1Math, PV1Read,PV1Scep và Area.

In [4]:
pisa_data = pd.read_csv('PISA_VN_2015.csv', usecols=['REGION', 'Gender', 'PV1MATH', 'PV1READ', 'PV1SCEP', 'AREA'])

In [5]:
pisa_data.head()

  REGION Gender  PV1MATH  PV1READ  PV1SCEP   AREA
0  SOUTH   Boys  439.923  412.290      NaN  URBAN
1  SOUTH   Boys  406.251  409.598      NaN  URBAN
2  SOUTH  Girls  414.369  384.307      NaN  URBAN
3  SOUTH  Girls  468.801  459.104      NaN  URBAN
4  SOUTH  Girls  355.432  402.435      NaN  URBAN