# Lab 06 - Bài tập

import library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

import os
import math
import random

from statsmodels.stats.proportion import proportion_confint

## <u>Bài 1</u>

Green M&M Candies liên quan đến Dataset 18 trong file excel. Tìm tỉ lệ mẫu của M&M có màu xanh lá cây (green). Sử dụng kết quả để xây dựng 1 ước lượng khoảng tin cậy 95% của tổng thể M&M có màu xanh.

Đọc dữ liệu Green M&M Candies từ file excel

In [2]:
m_m_data = pd.read_excel('18_M&M.xls')

In [3]:
m_m_data.head()

     Red  Orange  Yellow  Brown   Blue  Green
0  0.751   0.735   0.883  0.696  0.881  0.925
1  0.841   0.895   0.769  0.876  0.863  0.914
2  0.856   0.865   0.859  0.855  0.775  0.881
3  0.799   0.864   0.784  0.806  0.854  0.865
4  0.966   0.852   0.824  0.840  0.810  0.865

Tính toán ước lượng khoảng tin cậy 95% của tổng thể M&M có màu xanh

In [4]:
# Lấy cột Green từ dữ liệu 18_M&M.xls
green_mms = m_m_data['Green']

# Chuyển đổi dữ liệu thành mảng numpy
green_mms = np.array(m_m_data['Green'])

# Tính tỷ lệ mẫu của M&M có màu xanh lá cây (green)
sample_proportion_green_mms = np.mean(green_mms != '')

# Tính ước lượng khoảng tin cậy 95% của tổng thể M&M có màu xanh
conf_interval_green_mms = proportion_confint(np.sum(green_mms != ''), len(green_mms), alpha=0.05, method='wilson')

# Hiển thị kết quả
print(f"Tỉ lệ mẫu của M&M có màu xanh: {sample_proportion_green_mms}")
print(f"Ước lượng khoảng tin cậy 95% của tổng thể M&M có màu xanh: {tuple(round(x, 4) for x in conf_interval_green_mms)}")

Tỉ lệ mẫu của M&M có màu xanh: 1.0
Ước lượng khoảng tin cậy 95% của tổng thể M&M có màu xanh: (0.8754, 1.0)

## <u>Bài 2</u>

Freshman Weight Gain liên quan đến Dataset 3 trong file excel

a. Dựa vào kết quả của mẫu, tìm ước lượng điểm tốt nhất của tỉ lệ phần trăm các sinh viên cao đẳng tăng cân trong năm thứ 1.

b. Xây dựng ước lượng khoảng tin cậy 95% về tỉ lệ phần trăm các sinh viên cao đẳng tăng cân trong năm thứ 1.

Đọc dữ liệu Freshman Weight Gain từ file excel

In [5]:
freshman_survey = pd.read_excel('03_FRESH15.xls')

In [6]:
freshman_survey.head()

  SEX  WTSEP  WTAPR  BMISP  BMIAP
0   M     72     59  22.02  18.14
1   M     97     86  19.70  17.44
2   M     74     69  24.09  22.43
3   M     93     88  26.97  25.57
4   F     68     64  21.51  20.10

Tính toán

In [7]:
# Câu a: Tính tỉ lệ phần trăm sinh viên cao đẳng tăng cân trong năm thứ 1
weight_gain_percent = (freshman_survey['WTAPR'] > freshman_survey['WTSEP']).mean() * 100

# Câu b: Tính ước lượng khoảng tin cậy 95% về tỉ lệ phần trăm sinh viên cao đẳng tăng cân trong năm thứ 1
conf_interval_weight_gain = proportion_confint((freshman_survey['WTAPR'] > freshman_survey['WTSEP']).sum(), len(freshman_survey), alpha=0.05, method='wilson') * 100

# Hiển thị kết quả
print(f"Câu a. Ước lượng điểm tốt nhất của tỉ lệ phần trăm sinh viên cao đẳng tăng cân trong năm thứ 1: {round(weight_gain_percent, 4)}")
print("Câu b. Ước lượng khoảng tin cậy 95% về tỉ lệ phần trăm sinh viên cao đẳng tăng cân trong năm thứ 1: ")
for value in conf_interval_weight_gain:
    print(round(value, 4))

Câu a. Ước lượng điểm tốt nhất của tỉ lệ phần trăm sinh viên cao đẳng tăng cân trong năm thứ 1: 67.1642
Câu b. Ước lượng khoảng tin cậy 95% về tỉ lệ phần trăm sinh viên cao đẳng tăng cân trong năm thứ 1:
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721
0.5526
0.7721

## <u>Bài 3</u>

Lượng mưa ở Boston: liên quan đến Dataset 14 trong file excel, và quan tâm đến các ngày với các giá trị lượng mưa khác nhau từ 0 đến các ngày có mưa có giá trị lượng mưa lớn hơn 0.

- Xây dựng ước lượng khoảng tin cậy 95% cho tỉ lệ mưa trong các ngày Thứ Tư và 
- Xây dựng ước lượng khoảng tin cậy 95% cho tỉ lệ mưa trong các ngày Chủ Nhật.

Đọc dữ liệu lượng mưa ở Boston từ file excel

In [8]:
boston_rainfall = pd.read_excel('14_BOSTRAIN.xls')

In [9]:
boston_rainfall.head()

    MON  TUES   WED  THURS   FRI   SAT   SUN
0  0.00  0.00  0.00   0.04  0.04  0.00  0.05
1  0.00  0.00  0.00   0.06  0.03  0.10  0.00
2  0.00  0.00  0.00   0.71  0.00  0.00  0.00
3  0.00  0.44  0.14   0.04  0.04  0.64  0.00
4  0.05  0.00  0.00   0.00  0.01  0.05  0.00

Tính toán ước lượng khoảng tin cậy 95% cho tỉ lệ mưa trong các ngày Thứ Tư và Chủ Nhật.

In [10]:
# Chọn cột dữ liệu cho các ngày Thứ Tư và Chủ Nhật
wed_data = boston_rainfall['WED']
sun_data = boston_rainfall['SUN']

# Tính tỉ lệ mưa trong các ngày Thứ Tư
wed_rain_rate = (wed_data > 0).mean()

# Tính tỉ lệ mưa trong các ngày Chủ Nhật
sun_rain_rate = (sun_data > 0).mean()

# Tính ước lượng khoảng tin cậy 95% cho tỉ lệ mưa trong các ngày Thứ Tư
wed_conf_interval = proportion_confint((wed_data > 0).sum(), len(wed_data), alpha=0.05, method='wilson')

# Tính ước lượng khoảng tin cậy 95% cho tỉ lệ mưa trong các ngày Chủ Nhật
sun_conf_interval = proportion_confint((sun_data > 0).sum(), len(sun_data), alpha=0.05, method='wilson')

# Hiển thị kết quả
print("Ước lượng khoảng tin cậy 95% cho tỉ lệ mưa trong các ngày Thứ Tư:", tuple(round(x, 4) for x in wed_conf_interval))
print("Ước lượng khoảng tin cậy 95% cho tỉ lệ mưa trong các ngày Chủ Nhật:", tuple(round(x, 4) for x in sun_conf_interval))

Ước lượng khoảng tin cậy 95% cho tỉ lệ mưa trong các ngày Thứ Tư: (0.1952, 0.4354)
Ước lượng khoảng tin cậy 95% cho tỉ lệ mưa trong các ngày Chủ Nhật: (0.1797, 0.4157)

## <u>Bài 4</u>

Tổng số tiền phim: liên quan đến Dataset 9 trong file excel. Xây dựng ước tính khoảng thời gian tin cậy 95% của tổng số tiền trung bình cho quần thể của tất cả các phim. Giả định rằng độ lệch chuẩn của quần thể được biết là 100 triệu đô la.

Đọc dữ liệu tổng số tiền phim từ file excel

In [11]:
movies_data = pd.read_excel('09_MOVIES.xls')

In [12]:
movies_data.head()

               Title   MPAA  Budget  Gross  Length  Rating
0             8 Mile      R    41.0    117     110     6.7
1  Alone in the Dark      R    20.0      5      96     2.2
2            Aviator  PG-13   116.0    103     170     7.6
3           Big Fish  PG-13    70.0     66     125     8.0
4    Bourne Identity  PG-13    75.0    121     119     7.4

Tính toán ước lượng khoảng tin cậy 95% của tổng số tiền trung bình cho quần thể của tất cả các phim

In [13]:
# Lấy cột dữ liệu về tổng số tiền (Gross)
gross_data = movies_data['Gross']

# Tính tổng số tiền trung bình
mean_gross = gross_data.mean()

# Số phần tử trong quần thể
population_size = len(gross_data)

# Độ lệch chuẩn của quần thể (đã biết)
population_std = 100

# Tính ước tính khoảng thời gian tin cậy 95% cho tổng số tiền trung bình
confidence_interval = stats.norm.interval(0.95, loc=mean_gross, scale=population_std / math.sqrt(population_size))

# Hiển thị kết quả
print("Ước tính khoảng thời gian tin cậy 95% cho tổng số tiền trung bình:", tuple(round(x, 4) for x in confidence_interval))

Ước tính khoảng thời gian tin cậy 95% cho tổng số tiền trung bình: (89.8706, 156.1294)

## <u>Bài 5</u>

Điểm đánh giá tín dụng FICO: liên quan đến Dataset 24 trong file excel. Xây dựng ước lượng khoảng tin cậy 99% của điểm FICO trung bình cho quần thể. Giả sử độ lệch chuẩn của quần thể là 92,2.

Đọc dữ liệu điểm đánh giá tín dụng FICO từ file excel

In [14]:
fico = pd.read_excel('24_FICO.xls')

In [15]:
fico.head()

   708
0  713
1  781
2  809
3  797
4  793

Tính toán ước lượng khoảng tin cậy 99% của điểm FICO trung bình cho quần thể

In [16]:
# Lấy cột dữ liệu về điểm FICO
fico_scores = np.array(fico)

# Tính điểm FICO trung bình
mean_fico = np.mean(fico_scores)

# Số phần tử trong quần thể
population_size = len(fico_scores)

# Độ lệch chuẩn của quần thể (đã biết)
population_std = 92.2

# Tính ước lượng khoảng tin cậy 99% cho điểm FICO trung bình
fico_conf_interval = stats.norm.interval(0.99, loc=mean_fico, scale=population_std / math.sqrt(population_size))

# Hiển thị kết quả
print("Ước lượng khoảng tin cậy 99% cho điểm FICO trung bình:", tuple(round(x, 4) for x in fico_conf_interval))

Ước lượng khoảng tin cậy 99% cho điểm FICO trung bình: (679.1918, 726.9294)